header{
    background-color: red;
}

footer{
    background-color: blue;
}

section{
    background-color: green;
}

#section1{
    background-color: orange;
}

#section2{
    background-color: purple;
}